:root {
	--info: #00a5ba;
	--secondary: #69757d;
	--danger: #f41b35;
	--success: #00a94e;
	--warning: #ffbe00;
	--primary: #007dff;
	--light: #f8f9fa;
	--dark: #323a40;
	--bg: rgb(128,128,128);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	font-family: 'Popins', sans-serif;
	background-color: var(--secondary);
	color: #fff;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem 7%;
	background-color: rgba(1,1,1, 0.8);
	border-bottom: 1px solid var(--warning);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.navbar .navlog{
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
}
.navbar .navlog .uno{
	color: var(--warning);
}
.navbar .navlist a {
	text-decoration: none ;	
	color : #fff;
	display: inline-block;
	font-size: 1.2rem;
	margin: 0 1rem;
}
.navbar .navlist a:hover {
	color: var(--warning);

}
.navbar .navlist a::after{
	content: '';
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.2rem solid var(--info);
	transform: scaleX(0);
} 
.navbar .navlist a:hover::after{
	transform: scaleX(0.5);
	transition: 0.2s linear;

}
.navbar .navEx a {
	color: #fff;
	margin: 0 0.5rem;
}
.navbar .navEx a:hover {
	color: var(--warning);
}

#menu{
	display: none;
}




/* media */
/*
320px — 480px: Mobile devices. 
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops
*/

/* laptop */
@media (max-width: 1366px){
	html{
		font-size: 75%;
	}
}
/*tablets*/
@media (max-width: 768px){
	html{
		font-size: 62.5%;
	}

	#menu {
		display: inline-block;
	}

	.navbar .navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		background-color: #fff;
		width: 30rem;
		height: 100vh;
/*		transition: 0.3s;*/

	}
	.navbar .navlist.active{
		right: 0;
		
	}
	.navbar .navlist a {
		color : black;
		display: block;
		margin: 1.5rem;
		padding: 0.5rem;
		font-size: 2rem;
	}
}
/*mobile devices*/
@media (max-width: 480px){
	html{
		font-size: 55%;
	}
}



